<!DOCTYPE html>
<html>

<head>
<script src="/static/jquery-1.11.3.min.js"/></script>
</head>

<body>

<button id="indexbutton">Generate Index</button> <br> <br>
<input id="query" type="text"></input><input id="querysubmit" type="submit"></input>
<br/><br/>
<input id="output"></input>

<script type="text/javascript" language="javascript">
  $("#querysubmit").click(function() {
      query = $("#query").val();
      $.ajax({
          type:"POST",
          url:"http://127.0.0.1:5000/query",
	  data:{"query":query},
	  success:function(res) {
	      $("#output").val(res);
	  }
      });
  });

    $("#indexbutton").click(function() {
      $.ajax({
          type:"POST",
          url:"http://127.0.0.1:5000/index",
	  success:function() {
	      $("#output").val("INDEX BUID COMPLETE!");
	  }
      });
  });
</script>

</body>
</html>
